.buy-sale-container {
    position: absolute;
    /* display: flex; */
    top: 45%;
    right: 3%;
    width: 30%;
    height: 44%;
    /* flex-direction: row; */
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #03e9f4;
    border-radius: 8px;
    box-shadow: 0 0 10px #03e9f4;
}

.disp-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: space-evenly;
    align-items: center;
    /*  border: 2px solid #3c1596; */
    height: 40%;
    width: 80%;
    top: 5%;
    left: 10%;
    gap: 5%;
    border: 2px solid rgb(16, 34, 34);
  box-shadow: 0 0 10px #03e9f4;

}

.score-display-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #2bf403; */
    width: 90%;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6vw;

    /* height: 100%; */
}

.name-text-bar-cont {
    display: flex;
    align-items: center;
    width: 30%;
    font-size: min(1.5vw, 2.5vh, 18px);
}

.name-text-bar-cont-x {
    display: flex;
    align-items: center;
    width: 55%;
    font-size: min(1.5vw, 2.5vh, 18px);
}

.value-text-bar-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #03e9f4;
    border-radius: 8px;
    box-shadow: 0 0 10px #03e9f4;
    width: 70%;
    font-size: min(1.5vw, 2.5vh, 18px);
}

.value-text-bar-cont-x {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #03e9f4;
    border-radius: 8px;
    box-shadow: 0 0 10px #03e9f4;
    width: 45%;
    font-size: min(1.5vw, 2.5vh, 18px);
}



.name-text-bar {
    z-index: 1;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
    color: #03e9f4;
    text-decoration: none;
    border-bottom: 3px double currentColor;
    padding-bottom: 1px;
    opacity: 0.9;
}

.value-text-bar {
    z-index: 1;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
}


@keyframes neonGlow {

    /* свечение текста */
    from {
        text-shadow: 0 0 5px #03e9f4,
            0 0 10px #03e9f4;
    }

    to {
        text-shadow: 0 0 10px #03e9f4,
            0 0 20px #03e9f4,
            0 0 30px #03e9f4;
    }
}


.button-bar-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    left: 5%;
    height: 40%;
    top: 10%;
    gap: 10%;
    /* border: 1px solid green; */
}


.tooltip-container {
    position: relative;
    /* border: 2px solid green; */
    width: 100%;
    height: 40%;
}


.neon-button {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #03e9f4;
    background: transparent;
    border: 2px solid #03e9f4;
    border-radius: 8px;
    box-shadow: 0 0 10px #03e9f4;
    font-size: min(1.5vw, 2.2vh, 24px);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    text-shadow: 0 0 5px #03e9f4;
}

.neon-button:hover:not(:disabled) {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.neon-button:disabled {
    color: #555;
    text-shadow: none;
    cursor: not-allowed;
}

.neon-button:disabled:hover {
    background: transparent;
    box-shadow: none;
    box-shadow: 0 0 5px #8d1010,
        0 0 25px #8d1010,
        0 0 50px #8d1010,
        0 0 200px #8d1010;
    color: #8d1010;

}


.tooltip-text {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #0ff;
    padding: 2%;
    border-radius: 4px;
    font-size: min(1.5vw, 2.4vh, 24px);
    font-family: 'Orbitron', sans-serif;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 1000;
    text-align: center;
    border: 1px solid #0ff;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 100%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: #333;
}

.tooltip-container:hover .tooltip-text {
    opacity: 1;
    transform: translate(-102%, 0%);
}