.played-cards-main {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 30%;
    height: 35%;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #03e9f4;
    border-radius: 10px;
    box-shadow: 0 0 10px #03e9f4;
}

.played-cards-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 94%;
    height: 86%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.played-cards-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

.played-card,
.empty-card-collection {

    width: 10%;
    height: 90%;
    transform: translate(0%, 2.5%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #b90e0e;
    border-radius: 5px;

}


.played-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: inherit;
    border: 1px solid rgb(216, 212, 247);
}



.played-card {
    
    animation: neonAppear 0.8s ease-out forwards;
    opacity: 0;
    position: relative;
    overflow: hidden;
      border: 2px solid #0ff;
  box-shadow: 0 0 15px #0ff, inset 0 0 10px rgba(0, 255, 255, 0.3);

}

.played-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transform: rotate(45deg);
    animation: shine 1s ease-out forwards;
    opacity: 0;
    /* Начальная прозрачность */
}

@keyframes neonAppear {
    0% {
        opacity: 0;
        transform: scale(0.3) rotate(-180deg);
        filter: brightness(10) hue-rotate(90deg);
    }

    50% {
        opacity: 1;
        transform: scale(1.1) rotate(-10deg);
        filter: brightness(2) hue-rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        filter: brightness(1) hue-rotate(0deg);
    }
}

@keyframes shine {
    0% {
        transform: rotate(45deg) translateX(-100%);
        opacity: 1;
        /* Начальная видимость */
    }

    80% {
        opacity: 1;
        /* Остается видимым до 80% анимации */
    }

    100% {
        transform: rotate(45deg) translateX(100%);
        opacity: 0;
        /* Исчезает в конце */
    }
}

/* Стили для карт игрока и противника */
.played-card.player {
    border-color: #03e9f4;
    box-shadow: 0 0 10px #03e9f4;
}

.played-card.enemy {
    border-color: #ff0080;
    box-shadow: 0 0 10px #ff0080;
}