
body {
      width: 100%;
      height: 100vh;
      color: white;
      background: 
        /* Базовый сине-фиолетовый градиент */
        radial-gradient(
          circle at center,
          #0c0720 0%,
          #050314 100%
        );
      position: relative;
      overflow: hidden;
      z-index: -1;
    }

    /* Основное свечение на весь экран */
    body::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      z-index: -1;
      background: 
        radial-gradient(
          circle at center,
          rgba(130, 100, 255, 0.45) 0%,
          rgba(21, 11, 75, 0.15) 20%,
          transparent 80%
        );
      animation: 
        pulse 16s infinite alternate ease-in-out,
       /*  drift 24s infinite linear; */
      /* filter: blur(30px); */
    }

    /* Дополнительные блики */
    body::after {
      content: '';
      position: absolute;
      top: -20%;
      left: -20%;
      width: 140%;
      height: 140%;
      z-index: -1;
      background: 
        radial-gradient(
          circle at 30% 30%,
          rgba(160, 120, 255, 0.15) 0%,
          transparent 60%
        );
  /*     animation: 
        float 28s infinite linear reverse; */
      filter: blur(40px);
      mix-blend-mode: screen;
    }

    @keyframes pulse {
      0% { transform: scale(0.95); opacity: 0.7; }
      100% { transform: scale(1.05); opacity: 1; }
    }

