.resfresh_butt_cont {
  position: absolute;
  left: 27%;
  bottom: 1%;
  width: 18%;
  height: 5%;
}

.neon-refresh-btn {
  position: relative;
  background: transparent;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: #0ff;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex; /* Добавляем flex для выравнивания */
  align-items: center; /* Выравниваем по центру */
  justify-content: center; /* Выравниваем по центру */
  gap: 5%; /* Расстояние между иконкой и текстом */
}

 .neon-icon {
  position: relative;
  font-size: min(1.5vw, 2.5vh, 18px);
  animation: spin 2s linear infinite paused;
  line-height: 1; 
}



.neon-text {
  position: relative;
  z-index: 1;
  text-shadow: 0 0 5px #0ff;
  font-size: min(1.5vw, 2.5vh, 18px);
  line-height: 1;

}


.neon-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0ff;
  border-radius: 4px;
  box-shadow: 0 0 10px #0ff, inset 0 0 10px #0ff;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.neon-refresh-btn:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.neon-refresh-btn:hover .neon-glow {
  opacity: 1;
  box-shadow: 0 0 15px #0ff, inset 0 0 15px #0ff;
}

.neon-refresh-btn:hover .neon-icon {
  animation-play-state: running;
}

.neon-refresh-btn:active {
  transform: scale(0.95);
}

.neon-refresh-btn:active .neon-icon {
  animation-duration: 0.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}