


.big {
 margin-top: 3%;
  margin-left: 9%;
  margin-right: 60%;
  border: 3px solid red;
}  


.cont {
    background-image: url('../../resources/img/Frame.png');
    background-size: 90%;
    background-repeat: no-repeat;
    border: 5px solid blue;
    padding-bottom: 50%;
    margin-top: 3%;
  }

  .btnCont {
    border: 5px solid rgb(158, 40, 105);
    padding-bottom: 20%;
  }

  .testCont {
    border: 1px solid yellow;
  }

  