

.mainScreen {
    /* display: block; */
    position: relative;
    width: 100%;
    border: 3px solid red;
/*     margin: 0;
    padding: 0; */
    opacity: 0.3;
  }

  .mainPic {
    width: 100%;

  }

  .newGameBtn {
    /* display: inline-block; */
    position: absolute;
   /*  margin-left: 100px; */
 left: 50%;
    /* size: 100%; */
    color: red;
    max-width: 200px;
    width: auto;

/*     padding-bottom: 100px; */
  }

  
  