.score-bar-main {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 15%;
    height: 7%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    border: 2px solid rgb(16, 34, 34);
    box-shadow: 0 0 15px #03e9f4;
}

.score-bar-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-display {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    font-family: 'Orbitron', sans-serif;
    color: #0ff;
    border-radius: 5px;
}

.score-label {
    text-shadow: 0 0 5px #0ff;
    letter-spacing: 1px;
    font-size: min(1.5vw, 2.5vh, 18px);
}

.score-value {
    font-weight: bold;
    font-size: min(1.5vw, 2.5vh, 18px);
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.record-pulse {
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 5px #0ff;
    }
    100% {
        text-shadow: 0 0 15px #0ff, 0 0 20px #0ff;
    }
}