.result-field {
    position: absolute;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 15%;
    height: 56%;
    z-index: 10;
    pointer-events: none;
   /*  border: 1px solid red; */
}

.play-field-card-cont {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 49%;
    height: 100%;
    /* border: 1px solid green; */
}

.card-display {

    /* border: 1px solid red; */
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.card-display img {

    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    /*  border-radius: 15px; */
}

.card-display img.hidden {
    opacity: 0;
    transform: scale(0.8);
}

.card-display img.visible {
    animation: cardAppear 1.5s forwards;
    border-radius: 15px;
}

.card-display.enemy::after,
.card-display.player::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    z-index: -1;
}

.card-display.enemy::after {
    border: 2px solid #f0f;
    box-shadow: 0 0 15px #f0f, inset 0 0 10px #f0f;
}

.card-display.player::after {
    border: 2px solid #0ff;
    box-shadow: 0 0 15px #0ff, inset 0 0 10px #0ff;
}

.result-text {
    position: relative;
    display: flex;
    width: 300%;
    left: -100%;
    /* align-items: baseline; */
    font-family: 'Orbitron', sans-serif;
    font-size: min(2.0vw, 2.5vh, 52px);
    font-weight: bold;
    text-transform: uppercase;
  /*   border: 1px solid red; */
    justify-content: center;



    animation: pulse 2s infinite;
    white-space: nowrap;
}

/* ... (остальные стили результата остаются без изменений) ... */

@keyframes cardAppear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.9;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }
}