.enemyFieldAll {
  margin-top: 3%;
  margin-left: 9%;
  width: 35%;
  border: 3px solid red;
}

.enemyFieldImg {
  width: 32vw;
  height: 16vw;
}

.enemyFieldContent {
  position: absolute;
 /*  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%; */
  display: grid;
  grid-template-columns: repeat(6, 12%); /* 6 колонок */

  border: 2px solid green;
  margin-top: -17%;
  width: 40%;
  

}

.enemyCard {
  /* position: absolute; */
  width: 6vw;
  height: 7vw;


/* margin-bottom: 10px; */
border: 1px solid white;
/* object-fit: contain; */
}


