 .enemy-cards-container {
    /* border: 1px solid white; */
    position: absolute;
    top: 5%;
    left: 3%;
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #ff073a;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #ff073a;
}

.enemy-cards-grid {
  position: relative;
  /* border: 1px solid white; */
    width: 82%;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    place-items: center;
    gap: 2%;
}

.enemy-card-slot {
    width: 100%;
    height: 92%;
    /* border: 1px solid white; */
}

.enemy-card, .empty-card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ff073a;
    box-shadow: 0 0 5px #ff073a;
}

.enemy-card img {
    width: 130%;
    height: 130%;
    object-fit: contain;
}

.empty-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px dashed #ff073a;
}

.empty-card img {
    width: 70%;
    height: 70%;
    opacity: 0.7;
    filter: drop-shadow(0 0 3px #ff073a);
}

